body,html {
    height: 100%;
  }
  
  /* must be relative for scrollspy to work */
  body {
    position: relative;
  }
  
  /* Nav bar styling */
  .navbar.affix-top,
  .navbar.affix-bottom {
  position: static;
  }
  
  .navbar.affix{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background: #fff;
  transition: all .35s ease;
  }
  
/* Styles of Title */
.research {
  font-weight: bold;
}
/* Text of title */
.col-md {
  text-align: center;
  padding: 2%;
  padding-bottom: 3%;
}
.fa {
    font-size: 60px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  @media (min-width: 768px) {
    #sidemenu.affix {
      position: fixed;
      top: 40px;
    }
  }
  
  footer a {
    color: #ccc;
  }
  footer a:hover,
  footer a:focus{
    color: #eee;
  }